@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #171717;
}

html[data-theme="dark"] {
  --background: #171717;
  --foreground: #ededed;
}

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
  user-select: none;
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--background);
  scroll-behavior: smooth;
}

*:focus {
  outline: none !important;
  border: none !important;
  user-select: none;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-geist-sans), sans-serif;
  font-weight: 400 !important;
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}
